html {
    overflow-x: hidden;
    overflow-y: scroll;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
#logo {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
    text-shadow: rgba(255, 15, 15, 0.82) 2px 2px 2px;
}

@import url('https://fonts.googleapis.com/css?family=Faster+One');
h1 {
    font-family: "Faster One";
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(150, 155, 105, 0);
    text-shadow: rgba(255, 15, 15, 0.9) 2px 2px 2px;
}


@import url('https://fonts.googleapis.com/css?family=Sanchez');
#intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(112, 255, 181);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgba(53, 0, 87, 0.74) 2px 2px 2px;
}


.container-fluid {
    width: 100%;
    margin: 2rem 1rem 1rem 1rem;
}

.form-check {
    padding-top: 1.2rem;
}


.flex-jumbo {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
    height: 6rem;
    width: 100%;
    padding-top: 1rem;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: center;
    align-self: center;
    order: 0;
}

.flex-items > h1 {
    font-size: 2rem;
    color: white;
    vertical-align: middle;
    text-align: center;
    
}

.flex-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.intro-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

button {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;

}

#msgBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding: 7px;
    text-align: center;
    padding: 0.5rem;
    
}

footer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    bottom: 0;
    font-size: 11.5px;

}