[v-cloak] {
    display: none;
}

html {

    background-color: #F8F8F8;
    max-height: 100%;
    margin: 0 ! important;
    overflow-x: hidden;
    font-family:'Roboto';


}

.game {
    background-image: url(images/back.svg);
     background-size: cover;
     background-position: center;
     background-size: auto;
}

body {
    max-height: 100%;
    margin: 0 ! important;
    

}

h1 {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    padding: 0.7em;
}

input {
    box-shadow: none !important;
    outline: none;
}



#welcome-head {
    letter-spacing: 0.65rem;
    font-size: 27px;
    line-height: 1.2em;
}

#name-text {
    font-weight: 500;
    font-size: 25px;
    padding: 0 0.5rem 0 0.5rem;
    line-height: 3rem;

}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}


#limit {
    width: 80px;
    height: 50px;
}

.won {
    color: green;
}

.lost {
    color: red;
}

#case {
    width: 100px;
}
.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
    
}

.keyboard__row>* {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard__row--h1> span {
    width: 3.5em;
}

.keyboard__row> span [data-pressed],
.keyboard__row>span:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.welcome-container {
    text-align: center;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: normal;
     align-content: normal;
    
  
}

header {
    background-image: url(images/header.svg);
    background-size: cover;
    background-position: center;
    background-size: auto;
    
   
    
}


.welcome-item {
    overflow-y: hidden !important;
    overflow-x: hidden;
    background-image: url(images/intro.jpg);
    background-position-x: -85px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    background-color: none;
    overflow-y: hidden;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}





@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

#logo {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
    text-shadow: rgba(255, 15, 15, 0.82) 2px 2px 2px;
}

@import url('https://fonts.googleapis.com/css?family=Faster+One');

h1 {
    font-family: "Faster One";
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(150, 155, 105, 0);
    text-shadow: rgba(255, 15, 15, 0.9) 2px 2px 2px;
}




.frosted {
    background-color: rgba(153, 194, 125, 0.122);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid rgba(243, 243, 195, 0.122);
}


#manual {
    width: 100%;
    display: none;
}

.bottom-buttons {
    margin: 1rem 0.5rem 1rem 0.5rem; 
}

#logBtn {
    width: 200px;
    

}

#resetBtn {
    width: 200px;
}

.top-player {
    color: rgb(128, 156, 67);
}

/* Networth Buttons */
.button {
    font-size: 19px;
    font-weight: 450;
    letter-spacing: 1.8px;
    color: darkolivegreen;
    
    display: inline-block;
    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow:
        0px 3px rgba(126, 70, 6, 0.156),
        /* gradient effects */
        0px 4px rgba(118, 118, 118, 1),
        0px 5px rgba(192, 173, 147, 0.402),
        0px 6px rgba(240, 154, 73, 0.781),
        0px 7px rgba(241, 240, 240, 0.432),
        0px 8px rgba(78, 78, 78, 1),
        0px 14px 6px -1px rgba(136, 99, 78, 0);
    /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;

    background-image:
        /* gloss gradient */
        -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(50%, rgba(255, 255, 255, 0)),
            color-stop(50%, rgba(255, 255, 255, 0.3)),
            color-stop(100%, rgba(255, 255, 255, 0.2))),

        /* dark outside gradient */
        -webkit-gradient(linear,
            left top,
            right top,
            color-stop(0%, rgba(210, 210, 210, 0.3)),
            color-stop(20%, rgba(210, 210, 210, 0)),
            color-stop(80%, rgba(210, 210, 210, 0)),
            color-stop(100%, rgba(210, 210, 210, 0.3))),

        /* light inner gradient */
        -webkit-gradient(linear,
            left top,
            right top,
            color-stop(0%, rgba(255, 255, 255, 0)),
            color-stop(20%, rgba(255, 255, 255, 0.5)),
            color-stop(80%, rgba(255, 255, 255, 0.5)),
            color-stop(100%, rgba(255, 255, 255, 0))),

        /* diagonal line pattern */
        -webkit-gradient(linear,
            0% 100%,
            100% 0%,
            color-stop(0%, rgba(255, 255, 255, 0)),
            color-stop(40%, rgba(255, 255, 255, 0)),
            color-stop(40%, #D2D2D1),
            color-stop(60%, #D2D2D1),
            color-stop(60%, rgba(255, 255, 255, 0)),
            color-stop(100%, rgba(255, 255, 255, 0)));

    -webkit-box-shadow:
        0px -1px #fff,
        /* top highlight */
        0px 1px 1px #FFFFFF;
    /* bottom edge */

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;

    color: #245e79;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20', 'PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button span:hover {
    color: #AEBF3B;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow:
        0px 3px rgba(128, 128, 128, 1),
        0px 4px rgba(118, 118, 118, 1),
        0px 5px rgba(108, 108, 108, 1),
        0px 6px rgba(98, 98, 98, 1),
        0px 7px rgba(88, 88, 88, 1),
        0px 8px rgba(78, 78, 78, 1),
        0px 10px 2px 0px rgba(128, 128, 128, .6);
    /* shadow */
}

.button:active span {
    -webkit-transform: translate(0, 5px);
    /* depth of button press */
}

.button span:after {
    content: ">";
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    right: 14px;
    top: 12px;

    font-family: 'Cabin';
    font-weight: 700;
    color: #AEBF3B;
    text-shadow: 0px 1px #fff, 0px -1px #97A63A;
    font-size: 26px;
}





#manualBtn {
    width: 70px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    top: 200px;
    left: 88%;
    padding: 2px;

}

@import url('https://fonts.googleapis.com/css?family=Actor');

#manualIntro {
    font-family: Actor, sans-serif;
    text-align: center;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0) 2px 2px 2px;
    margin: 0.5rem;
}

#howTo {
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');

#instructions {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(7, 44, 17);
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1em;
}

.flex-manual {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.rounds {
    align-items: center;
    justify-content: center;
}



.history-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    
    
}

.highest-btns {
    width: 600px;
}

.stocked > div {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
}




.manual-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    order: 0;
    font-size: 14px;
    justify-content: space-around;

}

.manual-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    justify-content: space-around;
    order: 0;

}

.brief-instructions {
    padding: 0.9rem;
    line-height: 1.7rem;

}

#history {
    margin: 0.5rem 5rem 0.5rem 5rem;
    
}

#reset3 {
    width: 90px;
    text-align: right;
}

#game_over {
    width: 300px;
    height: 300px;
}

#user_wins {
    width: 300px;
    height: 300px;
}


.logs {
    list-style-type: none;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    line-height: 2rem;
    border-bottom: 1px solid slategray;
    border-top: 1px dotted green;
}

.log-items {
    padding-left: 3rem;
}

.container-fluid {
    width: 100%;
    margin: 0rem 1.5rem 0rem 1.5rem;
    justify-content: space-around;

}



.col-md-4 {
    align-self: center;
}

.flex-stocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}



.stock {
    padding: 1rem;
    
}

#stock {
    width: 60%;
}

.stock-choices {
    background-image: url(images/art.png);
    background-position: center;
    background-blend-mode: overlay;
    margin: 0;
    padding: 1rem;
}

.alerted {
    margin: -0.5rem;
}


.flex-jumbo {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 200px;
    width: 100%;
    
}

.disabled {
    
}

.isActive {
    color: yellow;
    background-color: pink;
}


.intro-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#checkBtn {
    margin-top: 1rem;
}

button {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;

}


.stats {
    width: 80%;
}


.counter {
    width: 50%;
    justify-content: space-around;

}

.win {
    border: 1px solid green;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    
    

    
}

.loss {

    border: 1px solid red;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    

}

.stats-flex, .stats-counts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.count-item {
     display: block;
     flex-grow: 0;
     flex-shrink: 1;
     flex-basis: auto;
     align-self: auto;
     order: 0;
     margin: 0.4rem;
}

.stats-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 200px;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;

}

.top-stats-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: stretch;
}

.top-stats-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#reset {
    width: 50px;
}

#end {
    display: none;
    bottom: 5%;
    width: 100%;
    text-align: center;
}


.red {
    background-color: red;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 8em;

}

.welcome-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;

}


