[v-cloak] {
    display: none;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

#logo {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
    text-shadow: rgba(255, 15, 15, 0.82) 2px 2px 2px;
}

@import url('https://fonts.googleapis.com/css?family=Faster+One');

h1 {
    font-family: "Faster One";
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(150, 155, 105, 0);
    text-shadow: rgba(255, 15, 15, 0.9) 2px 2px 2px;
}


@import url('https://fonts.googleapis.com/css?family=Sanchez');

#intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(112, 255, 181);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgba(53, 0, 87, 0.74) 2px 2px 2px;
}


#manual {
    width: 100%;
    display: none;
}

#manualBtn {
    width: 50px;
    font-size: 11px;
    position: absolute;
    top: 40px;
    padding: 2px;

}

@import url('https://fonts.googleapis.com/css?family=Actor');

#manualIntro {
    font-family: Actor, sans-serif;
    text-align: center;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0) 2px 2px 2px;
}

#howTo {
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');

#instructions {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(7, 44, 17);
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1em;
}

.flex-manual {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.manual-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    order: 0;
    font-size: 14px;
    justify-content: space-around;

}

.manual-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    justify-content: space-around;
    order: 0;

}


.container-fluid {
    width: 100%;
    margin: 2rem 1rem 1rem 1rem;
    justify-content: space-around;

}


.form-check {
    padding-top: 1.2rem;
}


.flex-jumbo {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
    height: 6rem;
    width: 100%;
    padding-top: 1rem;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: center;
    align-self: center;
    order: 0;
}

.flex-items>h1 {
    font-size: 2rem;
    color: white;
    vertical-align: middle;
    text-align: center;

}

.flex-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.intro-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#checkBtn {
    margin-top: 1rem;
}

button {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;

}

#msgBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding: 7px;
    text-align: center;
    padding: 0.5rem;

}

.counter {
    width: 100%;
    justify-content: space-around;

}

.win {
    border: 1px solid green;
    width: 60px;
    text-align: center;
    font-size: 2rem;
    left: 5%;
    bottom: 15%;
}

.loss {

    border: 1px solid red;
    width: 60px;
    text-align: center;
    font-size: 2rem;
    right: 5%;
    bottom: 15%
}

#end {
    display: none;
    bottom: 5%;
    width: 100%;
    text-align: center;
}


.red {
    background-color: red;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.flip-list-move {
    transition: transform 5s;
}

.list-complete-item {
    transition: all 0.5s;
    display: inline-block;
    margin-right: 10px;
}

.list-complete-enter,
.list-complete-leave-to

/* .list-complete-leave-active below version 2.1.8 */
    {
    opacity: 0;
    transform: translateY(30px);
}

.list-complete-leave-active {
    position: absolute;
}