[v-cloak] {
    display: none;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: monospace;
    padding: 0.7em;
}



.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
    
}

.keyboard__row>* {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard__row--h1> span {
    width: 3.5em;
}

.keyboard__row> span [data-pressed],
.keyboard__row>span:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.welcome-item {
    text-align: center;
   
   
}


html {
    overflow-x: hidden;
    overflow-y: scroll;
  
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

#logo {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
    text-shadow: rgba(255, 15, 15, 0.82) 2px 2px 2px;
}

@import url('https://fonts.googleapis.com/css?family=Faster+One');

h1 {
    font-family: "Faster One";
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(150, 155, 105, 0);
    text-shadow: rgba(255, 15, 15, 0.9) 2px 2px 2px;
}






#manual {
    width: 100%;
    display: none;
}

#manualBtn {
    width: 50px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    top: 80px;
    padding: 2px;

}

@import url('https://fonts.googleapis.com/css?family=Actor');

#manualIntro {
    font-family: Actor, sans-serif;
    text-align: center;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0) 2px 2px 2px;
}

#howTo {
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');

#instructions {
    font-family: "Encode Sans Semi Expanded", sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(7, 44, 17);
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1em;
}

.flex-manual {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.manual-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    order: 0;
    font-size: 14px;
    justify-content: space-around;

}

.manual-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    align-self: center;
    justify-content: space-around;
    order: 0;

}


.container-fluid {
    width: 100%;
    margin: 2rem 1rem 1rem 1rem;
    justify-content: space-around;

}


.form-check {
    padding-top: 1.2rem;
}


.flex-jumbo {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
    height: 6rem;
    width: 100%;
    padding-top: 1rem;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: center;
    align-self: center;
    order: 0;
}

.flex-items>h1 {
    font-size: 2rem;
    color: white;
    vertical-align: middle;
    text-align: center;

}



.intro-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#checkBtn {
    margin-top: 1rem;
}

button {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;

}

#msgBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding: 7px;
    text-align: center;
    padding: 0.5rem;

}

.stats {
    width: 80%;
}


.counter {
    width: 50%;
    justify-content: space-around;

}

.win {
    border: 1px solid green;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    
    

    
}

.loss {

    border: 1px solid red;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    

}

.stats-flex, .stats-counts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.count-item {
     display: block;
     flex-grow: 0;
     flex-shrink: 1;
     flex-basis: auto;
     align-self: auto;
     order: 0;
}

.stats-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 200px;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;

}

.top-stats-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: stretch;
}

.top-stats-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#reset {
    width: 50px;
}

#end {
    display: none;
    bottom: 5%;
    width: 100%;
    text-align: center;
}


.red {
    background-color: red;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 8em;

}

.welcome-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;

}


